<div class="container">
	<div class="row">
		<div class="main-visual">
			<p class="main-visual-text">家にある食材を<br>
			スマホで<br>
			かんたんに<br>
			管理しよう！</p>
		</div>

		<div class="signup-signin">

			<%= link_to new_user_registration_path do %>
            <button class="btn btn-warning col-xs-offset-1 col-xs-4">新規登録</button>
            <% end %>
            <%= link_to user_session_path do %>
            <button class="btn btn-danger col-xs-offset-2 col-xs-4">ログイン</button>
        	<% end %>
        </div>

        <div class="three-button">
        	<div class="new-button row">
        		<%= link_to new_food_path do %>
        		<button class="btn btn-default col-xs-offset-3 col-xs-6"><i class="fas fa-plus"></i>    食材を登録する</button>
	        	<% end %>
    	    </div>

    	    <div class="index-button row">
	        	<%= link_to foods_path do %>
    	    	<button class="btn btn-default col-xs-offset-3 col-xs-6"><i class="fas fa-carrot"></i>    食材を確認する</button>
        		<% end %>
        	</div>

        	<div class="wish_list-button row">
	        	<%= link_to wish_lists_path do %>
    	    	<button class="btn btn-default col-xs-offset-3 col-xs-6"><i class="fas fa-star"></i>  ほしいものリスト</button>
        		<% end %>
        	</div>
        </div>
	</div>
</div> 