<div class="container">
  <div class="row">
    <h4>管理者ログイン</h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <%= f.label :メールアドレス, class: "col-xs-4" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style: "display: inline-block; width: auto;" %>
        </div>

        <div class="form-group row">
          <%= f.label :パスワード, class: "col-xs-4" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", style: "display: inline-block; width: auto;" %>
        </div>

        <div class="actions row">
          <buttun class="btn btn-warning col-xs-offset-4 col-xs-3", type="submit">ログイン</buttun>
       </div>
      <% end %>

      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>


<%#= render "admins/shared/links" %>
  </div>
</div> 
