<div class="col-xs-12">
	<h4>食材一覧</h4>

	<hr>

	<%= search_form_for @q do |f| %>
		<div class="form-group">
			<%= f.label :食材名, class: "col-xs-3" %>
			<%= f.search_field :name_cont, class: "form-control", style: "display: inline-block; width: 35%;"%>
		</div>
		<div class="form-group">
			<%= f.label :カテゴリー, class: "col-xs-3" %>
			<%= f.collection_select :category_id_eq, @categories, :id, :name, {:include_blank => '選択しない'}, {class: "form-control", style: "display: inline-block; width: 35%;"} %>
		</div>
		<div class="form-group">
			<%= f.label :並べ替え, class: "col-xs-3" %>
			<%= f.select :sorts, { '消費期限が近い順': 'expiry_date asc', '消費期限が遠い順': 'expiry_date desc', '購入日順が近い順': 'purchase_date desc', '購入日順が遠い順': 'purchase_date asc'}, {:include_blank => '選択しない', selected: params[:q][:sorts]}, {class: "form-control col-xs-3", style: "display: inline-block; width: 35%;"} %>
		</div>
		<div class="actions">
			<button class="btn btn-warning col-xs-offset-1 col-xs-2", type="submit">検索</button><br>
		</div>

	<% end %>

	<br>

	<p><i class="fas fa-exclamation-circle"></i>&nbsp;消費期限が過ぎている食材です。</p>

	<div class="index-table col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th class="col-xs-3">カテゴリー</th>
					<th>食材名</th>
					<th>消費期限</th>						
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<% @foods.each do |food| %>
					<tr>
						<td><%= food.category.name %></td>
						<td><%= link_to food_path(food) do%><%= food.name %><% end %></td>
						<% if food.expiry_date < Date.today %>
						<td class="over", style="color: #ed6d46;"><%= food.expiry_date.strftime("%Y/%m/%d") %>&nbsp;<i class="fas fa-exclamation-circle"></i></td>
						<% else %>
						<td><%= food.expiry_date.strftime("%Y/%m/%d") %></td>
						<% end %>

						<td id="wish_list_btn-<%= food.id %>"><%= render 'foods/wish_list', food: food %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="link-button col-xs-12">
		<div class="row", style="margin-top: 20px;">
			<%= link_to new_food_path(@food) do %><button class="btn btn-default col-xs-offset-1 col-xs-4"><i class="fas fa-plus"></i>&nbsp;&nbsp;登録</button><% end %>
			<%= link_to wish_lists_path do %><button class="btn btn-default col-xs-offset-1 col-xs-5"><i class="fas fa-star"></i>&nbsp;&nbsp;ほしいものリスト</button><% end %>
		</div>
	</div>
	
	<div style="text-align: center;">
		<%= paginate @foods %>
	</div>


</div>