<div class="container">
	<div class="row">
		<h4>食材一覧</h4>
			<table class="table">
				<thead>
					<tr>
						<th>カテゴリー</th>
						<th>食材名</th>
						<th>消費期限</th>
						<th></th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					<% @foods.each do |food| %>
						<tr>
							<td><%= food.category.name %></td>
							<td><%= link_to food_path(food) do %><%= food.name %><% end %></td>
							<td><%= food.expiry_date.strftime("%Y/%m/%d") %></td>
							<td><%#= link_to '詳細', food_path(food)%></td>
							<td><%= link_to '編集', edit_food_path(food)%></td>
						</tr>
					<% end %>
				</tbody>
			</table>
	</div>
</div>