<div class="container">
	<div class="row">
		<h4>食材登録</h4>

		<%= form_with model: @food, local: true do |f| %>

			<div class="form-group">
				<%= f.label :カテゴリー, class: "col-xs-4" %>
				<%= f.collection_select :category_id, Category.where(user_id: current_user.id), :id, :name, {prompt: "選択してください"}, {class: "form-control", style: "display: inline-block; width: auto;"} %><br>
				<%= link_to '追加', categories_path %>
				<button class="btn btn-default col-xs-offset-1">追加する</button>
			</div>

			<div class="form-group">
				<%= f.label :食材名, class: "col-xs-4" %>
				<%= f.text_field :name, class: "form-control", style: "display: inline-block; width: auto;"  %>
			</div>
			<div class="form-group" %>
				<%= f.label :数量, class: "col-xs-4" %>
				<%= f.text_field :quantity, class: "form-control", style: "display: inline-block; width: auto;" %>
			</div>
			<div class="form-group">
				<%= f.label :購入日, class: "col-xs-4" %>
				<%= f.date_field :purchase_date, class: "form-control", style: "display: inline-block; width: auto;" %>
			</div>
			<div class="form-group">
				<%= f.label :消費期限, class: "col-xs-4" %>
				<%= f.date_field :expiry_date, class: "form-control" , style: "display: inline-block; width: auto;"%>
			</div>
			<div class="action col-xs-offset-5">
				<button class="btn btn-warning col-xs-4", type="submit">登録</button>
			</div>

		<% end %>

	</div>
</div>
