<div class="col-xs-12">
		<h4>食材詳細</h4>
		<table class="table">
			<tr>
				<th class="col-xs-2">カテゴリー</td>
				<td class="col-xs-3"><%= @food.category.name %></td>
			</tr>
			<tr>
				<th>食材名</th>
				<td><%= @food.name %></td>
			</tr>
			<tr>
				<th>数量</th>
				<td><%= @food.quantity %></td>
			</tr>
			<tr>
				<th>購入日</th>
				<td><%= @food.purchase_date.strftime("%Y/%m/%d") %></td>
			</tr>
			<tr>
				<th>賞味期限</th>
				<td><%= @food.expiry_date.strftime("%Y/%m/%d") %></td>
			</tr>
		</table>
		
		<div id="wish_list_btn-<%= @food.id %>">
			<%= render 'wish_list', food: @food %>
		</div>

		<%= link_to '編集', edit_food_path(@food) %>
		<%= link_to '一覧へ', foods_path %>
		<%= link_to '使い切った', @food, method: :delete, "data-confirm" => "使い切った食材は食材の一覧から削除されます。削除してもよろしいですか？" %>
	</div>
