<div class="col-xs-12">
	<p>ほしいものリスト</p>
	<table class="table">
		<thead>				
			<tr>
				<th>食材</th>
				<th>数量</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @foods.each do |food| %>
				<tr>
					<td><%= link_to food_path(food) do %><%= food.name %><% end %></td>
					<td><%= food.quantity %></td>
					<td id="wish_list_btn-<%= food.id %>">
						<%= render 'foods/wish_list', food: food %></td>
<!-- 						<%=link_to foods_wish_list_destroy_food_path(food), method: :delete do %><i class="fas fa-star" aria-hidden="true" style="color:#ffb22e;"></i><% end %>
 -->					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>