<div class="col-xs-12">
	<%= render "layouts/category_error_messages" %>
		<h4>カテゴリー編集</h4>
			<%= form_with model: @category, local: true do |f| %>
				<div class="form-group">
					<%= f.label :カテゴリー, class: "col-xs-4" %>
					<%= f.text_field :name, class: "form-control col-xs-5", style: "display: inline-block; width: auto;"  %>
				</div>
				<div class="action">
					<button class="btn btn-warning col-xs-offset-1 col-xs-2", type="submit">保存</button>
				</div>
			<% end %>
</div>
<div class="col-xs-12">
	<div class="back-link", style="margin: 15px 0 0 15px;">
		<%= link_to categories_path do %><i class="fas fa-chevron-circle-left"></i>&nbsp;一覧へ戻る<% end %>
	</div>
</div>
