<div class="col-xs-12">
	<h4>カテゴリー一覧</h4>
		<p class="col-xs-11">カテゴリー名をクリックすると該当の食材が表示されます</p>
		<div class="add-category-form">
			<%= form_with model: @category, local: true do |f| %>
              	<div class="form-group">
                  	<%= f.label :カテゴリー, class: "col-xs-3" %>
                   	<%= f.text_field :name, class: "form-control col-xs-4", style: "display: inline-block; width: auto;" %>
                 	<div>
                    	<button class="btn btn-info col-xs-offset-1 col-xs-2" type="submit">追加</button>
                    </div>
                  </div>
               <% end %>
        </div>

        <div class="category-index-table col-xs-12">
			<table class="table">
				<thead>
					<tr>
						<th>カテゴリー</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @categories.each do |category| %>
						<tr>
							<td><%= link_to category.name, foods_path(category_id: category.id) %></td>
							<td><%= link_to edit_category_path(category) do %>
								<button class="btn btn-default">編集</button>
								<% end %>
							</td>
							<td><%= link_to '削除', category, method: :delete, "data-confirm" => "カテゴリーを削除すると関連する食材も削除されます。削除してもよろしいですか？" %>
							</td>
							<td></td>
							<td></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>

			<%=link_to new_food_path do %>
			<button class="btn btn-default">食材登録</button>
			<% end %>

			<%=link_to foods_path do %>
			<button class="btn btn-default">食材一覧</button>
			<% end %>
</div>