<!DOCTYPE html>
<html>
  <head>
    <title>Iepoke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b128df6664.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="application.js"></script>
 -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="header-logo-menu">
          <div id="nav-drawer">
            <input id="nav-input" type="checkbox" class="nav-unshown">
            <label id="nav-open" for="nav-input"><span></span></label>
            <label class="nav-unshown" id="nav-close" for="nav-input"></label>
              <div id="nav-content">
                <nav>
                    <ui>
                     <% if user_signed_in? %>
                        <li><%= link_to about_path do %>
                          <i class="far fa-question-circle">  いえぽけ？</i><% end  %>
                        </li>
                        <li><%= link_to users_path do %>
                          <i class="fas fa-user-circle">  マイページ</i><% end %>
                        </li>
                        <li><%= link_to destroy_user_session_path, method: :delete do %>
                          <i class="fas fa-unlock">  ログアウト</i><% end %>
                        </li>
                      <% else %>

                        <li><%= link_to about_path do %>
                          <i class="far fa-question-circle">  いえぽけ？</i><% end %>
                        </li>
                        <li><%= link_to new_user_session_path do %>
                          <i class="fas fa-lock">   ログイン</i><% end %>
                        </li>
                        <li><%= link_to new_user_registration_path do %>
                          <i class="fas fa-user-plus">  新規会員登録</i><% end %>
                        </li>
                      <% end %>
                    </ui>
                </nav>
              </div>
            </div>
            <%= link_to root_path do %>
            <div class="logo-area"></div>
            <% end %>
          </div>
        </header>
    <%= yield %>
    <footer>
      <p class="footer">iepoke</p>
    </footer>
  </body>
</html>